.App {
	text-align: center;
	width: 100%;
	height: 100vh;
}

.App-logo {
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.container {
	background: radial-gradient(
		circle at 100%,
		#93ad26 25%,
		#5a6f14 80%,
		#eee 90%,
		#eee 100%,
		#93ad26 65%
	);
	height: 100vh;
}
#create-employee {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

fieldset {
	width: 40%;
	height: 35vh;
	background-color: rgb(179, 179, 179);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formData {
	width: 80%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px 0;
}

.formData input,
.formData select {
	width: 100%;
	height: 50vh;
}

.formData label {
	font-size: 18px;
	transform: translate(-150px, 22px);
}

.formData label:hover {
	animation: moveLabel 0.7s ease-out forwards;
}

select[name="Department"] {
	width: 30%;
	height: 50px;
}

@keyframes moveLabel {
	from {
		transform: translate(-150px, 22px);
	}

	to {
		transform: translate(-160px, 0);
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
