body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right top, #c0cde9, #abc0ef, #95b3f5, #80a5fa, #6997ff);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid #b6ccfd;
	position: relative;
}

.title-page {
	font-size: 55px;
}

.link {
	position: absolute;
	left: 15%;
	font-size: 35px;
	text-decoration: none;
	color: black;
}

.link:hover {
	transform: skew(-20deg);
	color: white;
	transition: 0.3s;
}
/* Content Create-employee page -----------------------------------------*/

.container {
	width: 100%;
	height: 85vh;
}

/* Form create-employee -----------------------------------------------*/

.container form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: 80vh;
	margin: auto;
	position: relative;
}

.fieldset {
	width: 40%;
	height: 50vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #abc0ef;
	border-radius: 8px;
	border-top: 2px solid #b6ccfd;
	border-left: 2px solid #b5ccff;
	border-right: 2px solid #90a3cc;
	border-bottom: 2px solid #90a3cc;
	box-shadow: 3px 3px 5px #90a3cc, -3px -3px 5px #b6ccfd;
}

.fieldset legend {
	font-size: 35px;
	letter-spacing: -1px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.formData {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.formData label {
	position: absolute;
	top: 0%;
	left: 12%;
	font-size: 22px;
	font-weight: bold;
}

.formData input,
.formData select {
	width: 75%;
	height: 25px;
	margin: 20px 0;
	position: relative;
}

.react-calendar {
	position: absolute;
	top: 35%;
	z-index: 100;
}

.validator {
	color: red;
	font-size: 25px;
	font-style: italic;
	text-align: center;
}

.error-validation {
	border: 3px solid rgb(207, 3, 3);
}

.create-btn {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 40px;
	background-color: white;
	font-size: 20px;
	border-radius: 7px;
	cursor: pointer;
}

.create-btn::after {
	content: "";
	position: absolute;
	bottom: 0%;
	left: 0%;
	z-index: -100;
	border-radius: 7px;
	width: 100px;
	height: 40px;
}

.create-btn:hover::after {
	animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
	100% {
		background-color: #f2f2f2;
		transform: scale(1.5);
		opacity: 0.1;
	}
}

/* LISTEEMPLOYEE PAGE -------------------------------------------------*/

.subtitle {
	text-align: center;
	font-weight: 100;
	font-size: 28px;
}

/* menu-list -----------------------------------------------------------*/

.menu-list-employee {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 22px;
	background-color: #f6f6f6;
}

.select-index {
	width: 60px;
	height: 25px;
}

.menu-list-employee .formData {
	flex-direction: row;
	width: 20%;
}

.menu-list-employee .formData label {
	position: initial;
	margin-right: 20px;
}

/* Table ------------------------------------------------------------------------------*/

.table {
	width: 90%;
	height: auto;
	margin: 30px auto;
	border-radius: 8px;
}

.table-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
	background-color: white;
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 20%;
	right: 4%;
	margin: 0;
}

.line-employee {
	padding: 20px;
	font-size: 22px;
}

tbody tr {
	background-color: white;
}

tbody tr:nth-child(even) {
	background-color: #e7e7e7;
}

.pagination {
	width: 100%;
	height: 8vh;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pagination span {
	font-size: 20px;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination span:hover {
	transform: scale(1.4);
	background-color: #e7e7e7;
	border-radius: 0;
	transition: 0.2s;
}

.activeSpan {
	background-color: #e7e7e7;
	border-radius: 50%;
}

/* Modal ----------------------------------------------------------------*/

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: #000000d5;
}

.content-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 20vh;
	background-color: #fff7e2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 30px;
	border: 7px solid #6997ff;
}

.round-btn {
	width: 32px;
	height: 32px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
	background-color: #2a488a;
	color: white;
	position: absolute;
	top: -20px;
	right: -15px;
	border: 2px solid black;
}
