.App {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: rgb(243, 243, 243);
}

.no-display {
	display: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100vh;
	background-color: #000000d5;
}

.content-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 20vh;
	background-color: #fff7e2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 30px;
	border: 7px solid #6d841a;
}

.round-btn {
	width: 32px;
	height: 32px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
	background-color: black;
	color: white;
	position: absolute;
	top: -20px;
	right: -15px;
	border: 2px solid black;
}

.header {
	position: relative;
}

.title-page {
	font-size: 34px;
	margin: 0;
	text-align: center;
	padding: 30px 0;
}

.link {
	font-size: 25px;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}

#create-employee {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.fieldset {
	width: 40%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

legend {
	font-size: 30px;
	text-align: left;
	text-transform: uppercase;
	color: black;
	border-bottom: 3px solid #333;
	font-style: oblique;
	letter-spacing: 2px;
}

.employee {
	background: linear-gradient(90deg, #6d841a60, #92ad26b0);
}

.adress {
	background: linear-gradient(90deg, #92ad26b0, #6d841a60);
}
.formData {
	width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin: 10px 0;
}

.formData input,
.formData select {
	display: inline-block;
	width: 100%;
	height: 30px;
}

label {
	display: block;
	font-size: 25px;
}

select[name="Department"] {
	width: 100%;
	height: 40px;
}

.create-btn {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 80px;
	border: 3px solid #6d841aef;
	background-color: white;
	color: #92ad26f8;
	font-size: 25px;
	font-weight: bolder;
	border-radius: 4px;
	cursor: pointer;
}

.create-btn:hover {
	animation: pulse 0.5s ease-in-out forwards;
}

@keyframes pulse {
	0% {
		background-color: white;
		color: #92ad26f8;
		width: 80px;
	}

	50% {
		height: 100px;
		width: 150px;
	}

	100% {
		background-color: #92ad26f8;
		color: white;
		border-radius: 50%;
		bottom: 14%;
		width: 100px;
		height: 100px;
	}
}

.containerList {
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(ellipse at center, white, transparent), radial-gradient(ellipse at bottom, #92ad2600, #92ad26a1);
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

th {
	padding: 20px;
	background-color: white;
}

tbody {
	margin: 0;
}

td {
	padding: 20px;
}

tr:nth-child(odd) {
	background-color: white;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

.no-display {
	display: none;
}

.calendar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
